<ul>
  <li><a routerLink="link1">link1</a></li>
  <li><a routerLink="link2">link2</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
<ul>
  <li *ngFor="let img of images; let i = index">
    <span attr.data-imgUrl="{{img}}" (click)="lol($event)">{{'imagen - '}}{{i + 1}}</span>
  </li>
</ul>
<img [src]="imagen_carga" id="img-cont" class="img-fluid" width="200px" height="200px" alt=""
  *ngIf="imagen_carga != '' ">

<div *ngIf="flag; else falsito">
  <input (keyup)="0" #number type="text"> {{number.value}}
</div>  
<ng-template #falsito>
<input type="text">---
</ng-template>
<br>
<hr>
<app-josue></app-josue>